interactions:
- request:
    body: '{"url": "http://g1.com.br"}'
    headers:
      Authorization: [PXaLogin apikey="test.DU4jJQ.o8vOA378DsITlFQx1etXqt3c-8Q"]
      Content-Type: [application/json]
    method: POST
    uri: http://127.0.0.1:5000/api/website
  response:
    body: {string: '{"error": {"code": "UNDEFINED", "message": "Some problems in bd",
        "status": 400, "title": "Bad Request"}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 400, message: BAD REQUEST}
version: 1
